<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ user.first_name }}'s Tasks</title>
		<link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}" />
	</head>

	<body class="bg-gray-900">
		<!-- Navbar -->
		<div class="bg-gray-800 text-white py-3">
			<div class="container mx-auto my-5 flex justify-between items-center px-4">
				<h1 class="text-2xl md:text-3xl poppins-bold">
					Welcome back, {{ user.first_name }}!
				</h1>
				<ul class="flex gap-8 text-md md:text-xl poppins-medium">
					<li>
						<a href="/profile"
							class="hover:animate-pulse button-inline flex text-lg items-center hover:text-sky-700">
							<svg xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6 mr-2 hover:animate-pulse text-sky-500" width="24" height="24"
								viewBox="0 0 24 24">
								<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
									stroke-width="2">
									<path d="M18 20a6 6 0 0 0-12 0" />
									<circle cx="12" cy="10" r="4" />
									<circle cx="12" cy="12" r="10" />
								</g>
							</svg>Profile
						</a>
					</li>
					<li>
						<a href="/logout"
							class="hover:animate-bounce button-inline logout-button text-lg flex items-center hover:text-red-600">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-red-700" width="24"
								height="24" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24"
								fill="currentColor" stroke="currentColor">
								<path
									d="M8 9v-4l8 7-8 7v-4h-8v-6h8zm6-7c-1.787 0-3.46.474-4.911 1.295l.228.2 1.395 1.221c1.004-.456 2.115-.716 3.288-.716 4.411 0 8 3.589 8 8s-3.589 8-8 8c-1.173 0-2.284-.26-3.288-.715l-1.395 1.221-.228.2c1.451.82 3.124 1.294 4.911 1.294 5.522 0 10-4.477 10-10s-4.478-10-10-10z" />
							</svg>Logout
						</a>
					</li>
				</ul>
			</div>
		</div>

		{# Top content #}
		<div id="top" class="h-full w-full mx-auto">
			{# Welcome messages #}
			<div class="container mx-auto flex flex-col justify-center items-center px-4">
				<h1 class="text-2xl md:text-5xl text-stone-100 poppins-bold p-20">
					Let's Get to Work
					<span class="text-2xl md:text-5xl font-extrabold text-amber-500">{{ user.first_name }}</span>
					!
				</h1>
				<div class="flex flex-col md:flex-row justify-center items-center">
					<h2 class="text-3xl text-slate-200 poppins-bold p-20">
						You have
						<span class="text-4xl text-rose-700">{{ user.tasks|selectattr('status', 'equalto',
							'Pending')|list|length }}</span>
						tasks
						<span class="text-rose-600 font-extrabold italic">left</span> to
						complete.
					</h2>
					<h2 class="text-3xl text-slate-200 poppins-bold p-20">
						You have
						<span class="text-4xl text-amber-500">{{ user.tasks|selectattr('status', 'equalto',
							'InProgress')|list|length }}</span>
						tasks
						<span class="text-green-500 font-light italic">in progress</span>.
					</h2>
				</div>
			</div>
		</div>

		{# Toggle Seconds #}
		<div class="flex flex-col p-10 justify-center items-center toggle">
			<label for="secondToggle" class="flex items-center cursor-pointer">
				<div class="relative">
					<input type="checkbox" name="secondToggle" id="secondToggle" class="checkbox hidden"
						onchange="toggleSeconds(this)" />
					<div class="block border-[1px] dark:border-white border-gray-900 w-14 h-8 rounded-full"></div>
					<div class="dot bg-slate-300 absolute left-1 top-1 dark:bg-white w-6 h-6 rounded-full transition">
					</div>
				</div>
				<div class="ml-3 dark:text-white text-stone-100 font-medium">
					Toggle Seconds
				</div>
			</label>
		</div>

		{# Clock #}

		<div class="box">
			<style></style>
			<div class="clock">
				<span id="hrs">00</span>
				<span class="colon">:</span>
				<span id="min">00</span>
				<span class="sec-colon" id="colon">:</span>
				<span id="sec">00</span>
			</div>
		</div>

		<!--Music Player -->
		<div id="music-player"
			class="text-stone-100 w-min hover:bg-blue-600 bg-blue-700/80 rounded flex justify-center mx-auto">
			<a class="text-xs poppins-medium flex items-center p-1" id="play-pause-btn">Music</a>

			<audio type="hidden" id="audio-player" src="https://play.streamafrica.net/lofiradio" controls
				style="display: none"></audio>
		</div>

		{# Main content #}
		<div id="main" class="container mx-auto h-full">
			<!-- Tasks Section -->
			<section class="py-14 md:py-24 bg-slate-900/80 dark:bg-slate-900 text-zinc-900 dark:text-white">
				{# Add Task #}
				<div class="container px-4 mx-auto">
					<div class="flex justify-center mb-6 md:mb-12">
						<div class="max-w-lg text-center">
							<h2 class="text-3xl text-blue-500 leading-none poppins-bold md:text-[45px] mb-4">
								Tasks
							</h2>
							<p class="mb-2 text-stone-100">Manage your tasks efficiently.</p>
							<a href="/add"
								class="m-1 button-inline bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded mr-2">
								<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
									stroke-linecap="round" stroke-linejoin="round">
									<path d="M12 5v14m7-7H5"></path>
								</svg>
								<span class="ml-1 text-center">Add Task</span>
							</a>
						</div>
					</div>
				</div>

				<!-- Pending Tasks Section -->
				<div id="pending-tasks" class="container px-4 mx-auto">
					<div class="flex justify-center mb-6 md:mb-12">
						<div class="max-w-lg text-center">
							<h2 class="text-3xl text-green-500 leading-none poppins-bold md:text-[45px] my-4">
								Pending Tasks
							</h2>
							<p class="text-stone-100">Tasks that need to be completed</p>
						</div>
					</div>
					<!-- Dynamic Task Cards -->
					{% if user.tasks %}
					<div class="grid-container">
						{% for task in user.tasks %} {% if task.status == 'Pending' %}
						<div id="task-{{ task.task_id }}"
							class="task-card {% if task.priority == 'High' %} high-priority {% elif task.priority == 'Medium' %} medium-priority {% else %} low-priority {% endif %}">
							<h2 class="font-bold text-center my-2">{{ task.title }}</h2>

							<p>
								<span class="font-bold">Priority: </span> {{ task.priority }}
							</p>

							<label class="font-bold">Update Priority :</label>
							<form method="POST" action="{{ url_for('update_priority', task_id=task.task_id) }}"
								id="priority-form-{{ task.task_id }}">
								<input type="radio" id="priority-high-{{ task.task_id }}" name="priority" value="High"
									onchange="submitPriorityForm('{{
								task.task_id }}')" {{ 'checked' if task.priority=='High' else '' }}>
								<label for="priority-high-{{ task.task_id }}">High</label>

								<input type="radio" id="priority-medium-{{ task.task_id }}" name="priority"
									value="Medium" onchange="submitPriorityForm('{{
								task.task_id }}')" {{ 'checked' if task.priority=='Medium' else '' }}>
								<label for="priority-medium-{{ task.task_id }}">Medium</label>

								<input type="radio" id="priority-low-{{ task.task_id }}" name="priority" value="Low"
									onchange="submitPriorityForm('{{
								task.task_id }}')" {{ 'checked' if task.priority=='Low' else '' }}>
								<label for="priority-low-{{ task.task_id }}">Low</label>
							</form>
							<p><span class="font-bold">Status: </span> {{ task.status }}</p>
							<p>
								<span class="font-bold">Deadline: </span> {{
								task.deadline.strftime('%b %d, %Y') }}
							</p>
							<div class="mb-1">
								<label class="font-bold">Description: </label>
								<p class="text-stone-50 flex items-center justify-center">
									{{ task.description }}
								</p>
							</div>


							<div class="my-2">
								<div class="flex flex-wrap justify-center gap-1">
									<a href="/edit/task/{{ task.task_id }}"
										class="button-inline bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded mr-2">
										Edit
									</a>
									<a href="/delete/{{ task.task_id }}"
										class="button-inline bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded">
										Delete
									</a>
								</div>
							</div>
							<div class="my-2">
								<div class="flex flex-wrap justify-center gap-1">

									<a href="/mark_in_progress/{{ task.task_id }}"
										class="inline-block my-2 bg-amber-500 hover:bg-amber-400 text-white font-bold py-2 px-4 rounded link-button">
										<svg class="svg-icon my-2" xmlns="http://www.w3.org/2000/svg"
											viewBox="0 0 16 16" fill="currentColor">
											<path fill-rule="evenodd"
												d="M8 2a.75.75 0 0 1 .75.75v8.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.22 3.22V2.75A.75.75 0 0 1 8 2"
												clip-rule="evenodd" />
											Start Task
									</a>
								</div>
							</div>
						</div>


						{% endif %} {% endfor %}
					</div>

				</div>
				{% else %}
				<p>No tasks found.</p>
				{% endif %}
			</section>
		</div>




		<!-- Working On Section -->
		<div id="working-on" class="container my-4 px-4 mx-auto">
			<div class="flex justify-center mb-6 md:mb-12">
				<div class="max-w-lg text-center">
					<h2 class="text-3xl text-yellow-500 leading-none poppins-bold md:text-[45px] my-4">
						Working On
					</h2>
					<p class="text-stone-100">Tasks currently in progress</p>
				</div>
			</div>

			<!-- Dynamic Task Cards -->
			{% if user.tasks %}
			<div class="grid-container">
				{% for task in user.tasks %} {% if task.status == 'InProgress' %}

				<div id="task-{{ task.task_id }}"
					class="task-card {% if task.priority == 'High' %} high-priority {% elif task.priority == 'Medium' %} medium-priority {% else %} low-priority {% endif %}">
					<h2 class="font-bold text-center my-2">{{ task.title }}</h2>

					<p>
						<span class="font-bold">Priority: </span> {{ task.priority }}
					</p>

					<label class="font-bold">Update Priority :</label>
					<form method="POST" action="{{ url_for('update_priority', task_id=task.task_id) }}"
						id="priority-form-{{ task.task_id }}">
						<input type="radio" id="priority-high-{{ task.task_id }}" name="priority" value="High" onchange="submitPriorityForm('{{
								task.task_id }}')" {{ 'checked' if task.priority=='High' else '' }}>
						<label for="priority-high-{{ task.task_id }}">High</label>

						<input type="radio" id="priority-medium-{{ task.task_id }}" name="priority" value="Medium"
							onchange="submitPriorityForm('{{
								task.task_id }}')" {{ 'checked' if task.priority=='Medium' else '' }}>
						<label for="priority-medium-{{ task.task_id }}">Medium</label>

						<input type="radio" id="priority-low-{{ task.task_id }}" name="priority" value="Low" onchange="submitPriorityForm('{{
								task.task_id }}')" {{ 'checked' if task.priority=='Low' else '' }}>
						<label for="priority-low-{{ task.task_id }}">Low</label>
					</form>

					<p>
						<span class="font-bold">Deadline: </span> {{
						task.deadline.strftime('%b %d, %Y') }}
					</p>
					<div class="mb-1">
						<label class="font-bold">Description: </label>
						<p class="text-stone-50 flex items-center justify-center">
							{{ task.description }}
						</p>
					</div>

					<!-- Task modification buttons -->
					<div class="my-2">
						<div class="flex flex-wrap justify-center gap-1">
							<a href="/edit/task/{{ task.task_id }}"
								class="button-inline bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded mr-2">
								Edit
							</a>
							<a href="/delete/{{ task.task_id }}"
								class="button-inline bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded">
								Delete
							</a>
						</div>
					</div>
					<div class="my-2">
						<div class="flex flex-wrap justify-center gap-1">
							<a href="/mark_pending/{{ task.task_id }}"
								class="button-inline poppins-light bg-amber-600 hover:bg-amber-500 text-white py-2 px-4 rounded link-button">
								<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
									<path fill="currentColor" fill-rule="evenodd"
										d="M8 14a.75.75 0 0 1-.75-.75V4.56L4.03 7.78a.75.75 0 0 1-1.06-1.06l4.5-4.5a.75.75 0 0 1 1.06 0l4.5 4.5a.75.75 0 0 1-1.06 1.06L8.75 4.56v8.69A.75.75 0 0 1 8 14"
										clip-rule="evenodd" />
								</svg>
								
							</a>
							<a href="/mark_completed/{{ task.task_id }}"
								class="button-inline bg-green-600 hover:bg-green-500 text-white py-2 px-4 rounded link-button">
								<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
									fill="currentColor">
									<path fill-rule="evenodd"
										d="M8 2a.75.75 0 0 1 .75.75v8.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.22 3.22V2.75A.75.75 0 0 1 8 2"
										clip-rule="evenodd" />
								</svg>
								
							</a>
						</div>
					</div>
				</div>

				{% endif %} {% endfor %}
			</div>
			{% else %}
			<p>No tasks found.</p>
			{% endif %}
		</div>
		</section>
		</div>

		<!-- Completed -->
		<div id="completed" class="container px-4 mx-auto">
			<div class="flex justify-center mb-6 md:mb-12">
				<div class="max-w-lg text-center">
					<h2 class="text-3xl text-emerald-600 leading-none poppins-bold md:text-[45px] my-4">
						Completed
					</h2>
					<h3 class="text-3xl text-slate-200 poppins-bold p-20">
						You completed
						<span class="text-4xl text-rose-700">{{ user.tasks|selectattr('status', 'equalto',
							'Completed')|list|length }}</span>
						tasks !
					</h3>
				</div>
			</div>
			<div class="flex justify-center mb-6">
				<!-- Center the Clear All button -->
				<a href="/clear_tasks/{{ user.user_id }}"
					class="button-inline bg-red-600 hover:bg-red-500 text-white py-2 px-4 rounded">
					Clear All
				</a>
			</div>
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 text-center pt-6">
				{% for task in user.tasks %} {% if task.status == 'Completed' %}
				<div class="w-full poppins-regular rounded-lg bg-gray-800 text-stone-400/50">
					<div class="text-center p-5">
						<p>Title: {{ task.title }}</p>
						<p>Description: {{ task.description }}</p>
						<p>Status: {{ task.status }}</p>
						<p>Created At: {{ task.created_at.strftime('%b %d, %Y ') }}</p>
						<p>Completed:</p>
						<p class="text-gray-50 poppins-light">
							{{ task.updated_at.strftime('%b %d, %Y, %I:%M %p') }}
						</p>
					</div>
				</div>
				{% endif %} {% endfor %}
			</div>
		</div>

		{# Scripts #}
		<script src="{{ url_for('static', filename='js/audio.js') }}"></script>
		<script src="{{ url_for('static', filename='js/dateUil.js') }}"></script>
		<script src="{{ url_for('static', filename='js/digitalclock.js') }}"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>

</html>