.button,
.logout-button,
.button-red,
.create-task-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: teal;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 100px; /* Adjust the width value as needed */
    text-align: center; /* Center the text */
    font-size: 16px; /* Set the font size */
}

.body {
    font-family: 'Poppins', sans-serif;
}

.button:hover,
.logout-button:hover,
.button-red:hover,
.create-task-button:hover {
    background-color: #048f7f;
}

.logout-button,
.button-red {
    background-color: #dc3545; /* Red color for logout button */
}

.logout-button:hover,
.button-red:hover {
    background-color: #c82333;
}
