.container {
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding for spacing */
}

form {
    background-color: #f9f9f9; /* Set background color for the form */
    padding: 20px; /* Add padding for spacing */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

h1 {
    text-align: center; /* Center the heading */
    color: #008080; /* Set the color of the heading */
}

label {
    font-weight: bold; /* Make labels bold */
}

input[type="text"],
textarea,
select,
input[type="date"],
button {
    width: 100%; /* Make form elements full width */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 10px; /* Add margin for spacing between elements */
    border: 1px solid #ccc; /* Add border for form elements */
    border-radius: 5px; /* Add border radius for rounded corners */
}

button {
    cursor: pointer; /* Change cursor to pointer for buttons */
}

.button-red {
    margin-left: 10px; /* Add margin to the left of the button */
}

.button-red:hover {
    background-color: #c82333; /* Change background color on hover */
}

body {
    font-family: 'Poppins', sans-serif;
}
