#play-pause-btn {
  color: #FFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#play-pause-btn:hover {
  background-color: #b3b2ca;
}
#task_top, #working_on, #completed_tasks {
  height: 100vh; /* Set the height to 100vh for full screen */
}
.card-content .p {
  color:red,

}
.done {
  text-align: center;
  margin-top: 20px;
}

/* Ensures buttons with icons are aligned inline and centered vertically with the text */
.row-auto a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Adjusts the size of the SVG icons */
.svg-icon {
  width: 16px;
  height: 16px;
}

.svg-icon-text {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

/* Styling for inline buttons with icons */
.button-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
