.container {
    width: 300px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc; /* Add border */
    border-radius: 8px; /* Add border radius for rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add slight shadow */
    padding: 20px; /* Add padding */
    position: absolute; /* Position the container absolutely */
    top: 50%; /* Move the container to 50% from the top */
    left: 50%; /* Move the container to 50% from the left */
    transform: translate(-50%, -50%); /* Center the container */
}


.login-form {
    width: 100%; /* Adjust width as needed */
    text-align: center;
}

.login-form div {
    margin-bottom: 10px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.login-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Adjust border-radius for a rounded shape */
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #45a049;
}
.error {
    font-weight: bold;
    font-size: medium;
    color: red;
    border-radius: 8px; /* Adjust border-radius for a rounded shape */
    border: 1px solid red; /* Add border */
    padding: 15px; /* Add padding */
    margin-bottom: 10px; /* Add margin */
    background-color: #ffe6e6; /* Add background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.success {
    font-weight: bold;
    font-size: medium;
    color: #45a049;
    border-radius: 8px; /* Adjust border-radius for a rounded shape */
    border: 1px solid #45a049; /* Add border */
    padding: 15px; /* Add padding */
    margin-bottom: 10px; /* Add margin */
    background-color: #e6ffeb; /* Add background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}