#task_top,
#working_on,
#completed_tasks {
    height: 100vh;
}


@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .flex,
    .grid {
        flex-direction: column;
        gap: 20px;
    }

    .tasks-grid,
    .grid-cols-1,
    .grid-cols-2,
    .grid-cols-4 {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}


.task {
    border-radius: 5px;
    color: azure;
    padding: 10px;
    transition: background-color 0.3s;
    /* Ensure all cards have the same height */
    min-height: 200px;

}

.card-content .p {
    color: red,

}

.task:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Conditional styling based on priority */
.high-priority {
    background-color: #FFA8A8;
}

.medium-priority {
    background-color: rgb(244, 200, 119);
}

.low-priority {
    background-color: #CCFFCC;
}

/* Add hover animation for tasks with high priority */
.high-priority:hover {
    background-color: #FFA8A8;
}

/* Add hover animation for tasks with medium priority */
.medium-priority:hover {
    background-color: rgb(244, 180, 100);
}

/* Add hover animation for tasks with low priority */
.low-priority:hover {
    background-color: #A8FFA8;
}

.completed-task {
    background-color: rgba(0, 0, 0, 0.1);
    color: #666;
    pointer-events: none;

}

.completed-task:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: default;
}

.completed-task a {
    pointer-events: none;
    color: #999;
}

.completed-task a:hover {
    text-decoration: none;
    color: #999;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .tasks-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}